<p>
	<a class="image-popup-no-margins" href="/img/content/year-view-large@2x.png"><img src="/img/content/year-view-large@2x.png" alt="Year View"></a>
</p>

<br>

<ul class="sidebar-buttons-grid small-block-grid-1 medium-block-grid-2 large-block-grid-1">
	<li><a href="#" class="button ctu-button"><i class="fa fa-shopping-cart"></i> Buy Now</a></li>
	<li><a href="#" class="button ctu-button"><i class="fa fa-info-circle"></i> Year View FAQ</a></li>
</ul>

<br>

<h3>Related Products</h3>

<p><a href="#" class="button product-button slim"><img width="100" src="/img/content/outlook-year-view-logo-white@2x.png"></a></p>

<br>

<h3>Quick Links</h3>
<ul class="side-nav">
	<li><a href="/products/year-view/version-history">Version History</a></li>
	<li><a href="/products/year-view/credits">Credits</a></li>
	<li><a href="http://demos.planetsoftware.com.au/YearViewDemo1/" target="_blank">Soccer World Cup Demo</a></li>
	<li><a href="http://demos.planetsoftware.com.au/YearViewDemo2/" target="_blank">Annual Leave Demo</a></li>
</ul>