<blockquote class="quote">
	<p>Planet Software is a valued Microsoft Partner who has been Gold Certified for 9 years and has operated out of the South Australia marketplace for 20 years. They service many South Australian customers, as well as national and international customers, and maintain a close working relationship with Microsoft through our Partner Program.</p>
	<cite><strong>Grant Waanders, Microsoft</strong></cite>
</blockquote>

<br>

<div class="side-box">
	<h3>Staff Blogs</h3>
	<ul>
		<li><a href="#"><i class="fa fa-user"></i>&nbsp; Felix Jorkowski</a></li>
		<li><a href="#"><i class="fa fa-user"></i>&nbsp; Paul Reynolds</a></li>
	</ul>
</div>