<p>
	<a class="image-popup-no-margins" href="/img/content/outlook-year-view-large@2x.jpg">
		<img src="/img/content/outlook-year-view-large@2x.jpg" alt="Outlook Year View">
	</a>
</p>

<br>

<ul class="sidebar-buttons-grid small-block-grid-1 medium-block-grid-2 large-block-grid-1">
	<li><a href="#" class="button ctu-button"><i class="fa fa-shopping-cart"></i> Buy Now</a></li>
	<li><a href="#" class="button ctu-button"><i class="fa fa-info-circle"></i> Outlook Year View FAQ</a></li>
</ul>

<br>

<h3>Download Evaluation</h3>

<table class="table-list">
	<tr>
		<td>File name</td>
		<td><a href="#">oyv_eval_v2_6.zip</a></td>
	</tr>
	<tr>
		<td>Version</td>
		<td>2.5 Build 26</td>
	</tr>
	<tr>
		<td>Published</td>
		<td>25 May 2010</td>
	</tr>
	<tr>
		<td>Language</td>
		<td>English</td>
	</tr>
	<tr>
		<td>Size</td>
		<td>3.80 MB</td>
	</tr>
</table>

<br>

<h3>Related Products</h3>
<p><a href="#" class="button product-button slim"><img width="100" src="/img/content/year-view-logo-white@2x.png"></a></p>

<br>

<h3>Quick Links</h3>
<ul class="side-nav">
	<li><a href="/products/outlook-year-view/version-history">Version History</a></li>
	<li><a href="/media/3480/oyv-overview.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Overview</a></li>
	<li><a href="/media/3483/oyv-standalone_installation_instructions.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Standalone Installation Instructions</a></li>
	<li><a href="/media/3486/oyv-shared_installation_instructions.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Shared Installation Instructions</a></li>
	<li><a href="/media/3492/oyv-categories.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Setting Up Categories</a></li>
	<li><a href="/media/3489/oyv-printing.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Printing</a></li>
	<li><a href="/media/3495/oyv-outlook_2003_navigation.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Outlook Navigation</a></li>
	<li><a href="/media/3710/standalone_installationsanweisungen_-_german.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Installationsanweisungen1</a></li>
	<li><a href="/media/3713/shared_installationsanweisungen_-_german.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Installationsanweisungen2</a></li>
	<li><a href="/media/3707/yv_kategorien_einrichten_-_german.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Kategorien Einrichten</a></li>
	<li><a href="/media/3704/yearview_drucken.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Drucken</a></li>
</ul>