<p><a href="#" class="button product-button"><img width="100" src="/img/content/sonia-logo-white@2x.png"><span class="text">www.sonia.com.au</span></a></p>

<ul class="sidebar-buttons-grid small-block-grid-1 medium-block-grid-2 large-block-grid-1">
	<li><a href="#" class="button ctu-button"><i class="fa fa-file-pdf-o"></i> Sonia Brochure</a></li>
	<li><a href="#" class="button ctu-button"><i class="fa fa-users"></i> Sonia Enquiry</a></li>
</ul>

<div class="side-box">
	<h3>Find Out More Today</h3>
	<p><a href="/contact/">Contact</a> Planet Software to organise an online demonstration, and learn more about Sonia and how it manages student placement.</p>

	<h3>Your Sonia Licence</h3>
	<p>If you are currently using Sonia, you are already licensed to use the latest version.</p>

	<h3>Student Information</h3>
	<p>Sonia will import all of the contact and enrolment information about your students from your current student enrolment system.</p>
	<p>Sonia's import flexibility means we can bring across any data in your student system - not just the basics. This might include next of kin information or perhaps prerequisite checks.</p>

	<h3>Support</h3>
	<p>Your Sonia license includes telephone, email and remote access support for all staff that use Sonia.<br> <br> If you need a service level agreement (SLA) ask about Sonia Premium Support.</p>

	<h3>Training</h3>
	<p>We recommend both initial training and regular training updates for all Sonia users.</p>

	<h3>Technical Support</h3>
	<p>Sonia is designed to make the technical side of supporting the application even easier for your overworked IT departments.<br><br> Alternatively Planet Software can provide remote technical support as part of our premium support.</p>

	<h3>Virtual Server Support</h3>
	<p>Sonia works well in a virtual server environment such as VMware.</p>

	<h3>Multiple Server Support</h3>
	<p>We recommend spreading the Sonia server functions over multiple physical or virtual servers for optimum performance and reliability.</p>

	<h3>Pricing</h3>
	<p>For our latest price list, contact:</p>
	<p><i class="fa fa-phone"></i>&nbsp; <strong>Australia:</strong> <a href="tel:61884436499">+61 8 8443 6499</a></p>
	<p><i class="fa fa-phone"></i>&nbsp; <strong>Europe:</strong> <a href="tel:442071938312">+44 20 7193 8312</a></p>
	<p><i class="fa fa-phone"></i>&nbsp; <strong>USA:</strong> <a href="tel:12407526690">+1 240 752 6690</a></p>
	<p><i class="fa fa-envelope"></i>&nbsp; <a href="mailto:sonia@planetsoftware.com.au">sonia@planetsoftware.com.au</a></p>
</div>

<p><img src="/img/content/sonia-ms-logos.png" alt="Microsoft Logos"></p>