/*
    HEADER.CSS

    - Last updated: 03.05.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.global-header {
	position: relative;

	@media #{$large-up} {
	    height: rem-calc(134);
	}
}

//=========================================
//
//=========================================

.global-header .logo {
	position: relative;
	z-index: 200;

	@media #{$large-up} {
	    top: rem-calc(36);
	}

	img {
		@media #{$devices-only} {
			padding: rem-calc(15 0);
		    width: rem-calc(160);
		}
		@media #{$small-only} {
	    	padding: rem-calc(15 0);
	        width: rem-calc(133);
		}
	}
}

//=========================================
// Mobile Menu
//=========================================

.global-header-mobile-menu {
	position: absolute;
	// bottom: 20px;
	right: 15px;
	top: calc(50% - 2px); // to account for top margins of H1s
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

//=========================================
// Hamburger
//=========================================

.hamburger {
	@include hamburger($width: 24px, $gap: 5px, $thickness: 4px, $color: #211F20);

	@media #{$medium-up} {
		@include hamburger($width: 28px, $gap: 6px, $thickness: 5px, $color: #211F20);
	}
}

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.header {
	background: $secondary-color;

	h1 {
		margin: 0;
		padding: rem-calc(20 0);
		font-size: rem-calc(26);
		color: white;

		@media #{$medium-up} {
		    padding: rem-calc(20 0);
		    font-size: rem-calc(36);
		}

		@media #{$large-up} {
		    font-size: rem-calc(44);
		}
	}
}