---
layout: master
---

{% assign settings = site.data.settings %}
{% assign news_entries = site.data.articles %}

{% include hero.html %}

<section class="lead-section">
	<div class="row outer-row">
		<div class="large-8 columns">
			<div class="row">
				<div class="medium-4 columns">

					<h3>
						<a class="logo" href="/products/sonia/" title="Sonia" itemprop="url">
						    <img width="160" src="/img/content/sonia-logo-white@2x.png" title="Sonia" alt="Sonia" itemprop="logo">
						</a>
					</h3>

					<div data-match-height>
						<p>Sonia sets the standard for student placement software, assisting placement staff, placement providers and students to view and manage information that relates to them.</p>
					</div>

					<a class="button button-slim" href="/products/sonia/">More</a>
				</div>
				<div class="medium-4 columns">

					<h3>
						<a class="logo" href="/products/year-view/" title="Sonia" itemprop="url">
						    <img width="160" src="/img/content/year-view-logo-white@2x.png" title="Year View" alt="Year View" itemprop="logo">
						</a>
					</h3>

					<div data-match-height>
						<p>Year View provides a full year view planner on various calendar data sources within a web browser using the latest Microsoft technologies to provide users with a rich interactive experience.</p>
					</div>

					<a class="button button-slim" href="/products/year-view/">More</a>
				</div>
				<div class="medium-4 columns">
					<h3><span class="text">Our Services</span></h3>

					<div data-match-height>
						<p>Planet Software provides world class software development services. We design, architect and develop enterprise-class applications utilising Microsoft and open standard technologies.</p>
					</div>

					<a class="button button-slim" href="/services/">More</a>
				</div>
			</div>
		</div>
		<div class="large-4 columns">

			<h3><span class="text">Latest News</span></h3>

			{% include news_panel.html max_entries=3 %}

			<a class="button button-slim" href="/about/news/">More News</a>

		</div>
	</div>
</section>