/*
    BUTTONS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.button,
.read-more-button {
	position: relative;
	// min-width: rem-calc(100);

	&:after {
		position: relative;
		top: 1px;
		content: "\f105";
		font-family: "FontAwesome";
		margin-left: rem-calc(8);
		font-size: rem-calc(16);
		line-height: 0;
	}

	&:hover {
		background: lighten($primary-color, 10%);
	}
}

.button-slim {
	display: block;
	padding: rem-calc(5 15);
	text-align: right;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		margin-left: -15px;
		width: 1px;
		height: 100%;
		background: $secondary-color;
	}
}

//=========================================
// CTU Button
//=========================================

.ctu-button {
	background: $primary-color;
	width: 100%;
	text-align: right;
	padding: rem-calc(15 15);

	i {
		position: relative;
		top: 12px;
		// left: -10px;
		font-size: rem-calc(30);
		line-height: 0;
		vertical-align: top;
		float: left;
	}
}

//=========================================
// Product Button
//=========================================

.product-button {
	position: relative;
	text-align: right;
	padding: rem-calc(30 15);
	width: 100%;
	background: #3A3C3C;

	.text {
		position: absolute;
		bottom: 10px;
		right: 20px;
	}

	img {
		position: absolute;
		top: 10px;
		right: 20px;
	}

	&.slim {
		padding: 15px;
		img {
			position: static;
		}
	}

	&:hover {
		background: black;
	}
}